{% extends 'CRM/base.html' %}
{% block addhead %}


{% endblock addhead %}



{% block content %}


    <div class="row">
        <div class="card col s4 m4 " id="appt_form">
            <h1>Create Appointment:</h1>
            <form action="" method="post" autocomplete="off">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save"/>
            </form>
        </div>
    </div>

 <script>

  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2018:2070",
      dateFormat: "yy-mm-dd",

      // You can put more options here.



    });

    var options = {
        showMinutes: false,
        showPeriod: false,
        hours: {
                starts: 8,                // First displayed hour
                ends: 17                  // Last displayed hour
        },
        rows: 2,
        onSelect: function(time, inst) {

        $('#'+inst.id).val('T'+time+':00:00')
    },



    }

    $('.timepicker').timepicker(options);

  });



  </script>

{% endblock content %}


