{% extends 'CRM/base.html' %}

{% block addhead %}
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.js"></script>

    <script>

        save_event_link = "{% url 'save_event' %}";
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

        $(function () {

            $.ajaxSetup ({
            // Disable caching of AJAX responses
            cache: false

            });


        function save_event(event) {


            $.post(save_event_link, {

            'csrfmiddlewaretoken': csrftoken,
            'pk':event.pk,
            'scheduled_date':event.date,
            'title': event.title,
            'start': event.start.format(),
            'end': event.end.format(),
            'color':event.color,
            'url':event.url
            });
        }



            // Variable for event list from data
            var event_list =   [{% autoescape off%}{{data}}{% endautoescape %}];


            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({

                  schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',

                  eventClick: function(event) {
                        if (event.url) {
{#                        window.open(event.url, '', "width=200,height=100");#}
                            window.open(event.url,"_self");
                        return false;
                }
                },


                  eventDrop: function(event, delta, revertFunc) {

                        alert(event.title + " was dropped on " + event.start.format());

                        if (!confirm("Are you sure about this change?")) {
                        revertFunc();
                        }
                        else{
                            save_event(event)

                        }

                },

                header: {
                    left: 'prev,next today myCustomButton',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                height: 650,

                editable:true,
                eventStartEditable:true,
                lazyFetching:false,
                themeSystem: 'jquery-ui',



{#                events: event_list,#}
                eventSources:[
                    event_list,
                ]






            });







        });


    console.log({% autoescape off%}{{data}}{% endautoescape %})



    </script>

{% endblock addhead %}


{% block content %}

    <div class="content-container" id="cal-content">


        <div id="calendar"></div>


{#    <div class="appt-list">#}
{#    {% for appt in unscheduled %}#}
{#        <a href="{% url 'appointment-detail' app=appt.id %}">#}
{#             <div class="btn ticket-item appt">#}
{#                 {{ appt.created }}<br>#}
{#                 Ticket No: {{ appt.ticket.id }}<br>#}
{#                 {{ appt.jobsite }}<br>#}
{#                 {{ appt.title }}<br>#}
{#                </div>#}
{#        </a>#}
{#        {% endfor %}#}
{##}
{#    </div>#}

{#    <div class="appt-list">#}
{#    <h2>OPEN TICKETS:</h2>#}
{#    {% for ticket in open_tickets %}#}
{#        {% if ticket.call_type == "Estimate"%}#}
{#             <a href="{% url 'ticket_detail' cust=ticket.customer_id.pk job=ticket.jobsite_id.pk ticket=ticket.pk %}">#}
{#                 <div class="btn ticket-item lead">#}
{#                     {{ ticket.created }}<br>#}
{#                     Ticket No: {{ ticket.id }}<br>#}
{#                     {{ ticket.customer_id.fullName }}<br>#}
{#                     {{ ticket.jobsite_id.jobStreet }}<br>#}
{#                </div>#}
{#             </a>#}
{#        {% elif ticket.call_type == "Service" %}#}
{#            <a href="{% url 'ticket_detail' cust=ticket.customer_id.pk job=ticket.jobsite_id.pk ticket=ticket.pk %}">#}
{#                <div class="btn ticket-item service">#}
{#                     {{ ticket.created }}<br>#}
{#                     Ticket No: {{ ticket.id }}<br>#}
{#                     {{ ticket.customer_id.fullName }}<br>#}
{#                     {{ ticket.jobsite_id.jobStreet }}<br>#}
{#                </div>#}
{#            </a>#}
{##}
{#        {% elif ticket.call_type == "Inspection" %}#}
{#            <a href="{% url 'ticket_detail' cust=ticket.customer_id.pk job=ticket.jobsite_id.pk ticket=ticket.pk %}">#}
{#                <div class="btn ticket-item inspection">#}
{#                    {{ ticket.created }}<br>#}
{#                    Ticket No: {{ ticket.id }}<br>#}
{#                    {{ ticket.customer_id.fullName }}<br>#}
{#                    {{ ticket.jobsite_id.jobStreet }}<br>#}
{#                </div>#}
{#            </a>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#</div>#}
    </div>



{% endblock content %}

{% block unscheduled%}


{% endblock unscheduled %}