{% extends 'CRM/base.html' %}
{% block addhead %}
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.js"></script>

    <script>
        $(function () {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                  schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',

                  eventClick: function(event) {
                        if (event.url) {
{#                        window.open(event.url, '', "width=200,height=100");#}
                            window.open(event.url);
                        return false;
                }
                },
                header: {
                    left: 'prev,next today myCustomButton',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                editable:true,
                eventStartEditable:true,

                events:[
                    {% autoescape off%}
                        {{data}}
                    {% endautoescape %}
                ]



            });

        });
    console.log(    {% autoescape off%}
                        {{data}}
                    {% endautoescape %})
    </script>
{% endblock addhead %}


{% block content %}

    <div class="content-container">
        <div id="calendar"></div>

    </div>
{% endblock content %}

