.content-container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height:auto;



}
.center-content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;

}

.main-content{
    margin:10px;
}

.left-sidebar{
    display: flex;
    flex-direction: column;
    height:100%;
}

.right-sidebar{
    display:flex;
    flex-direction: column;
    height: 100%;
}

    .top-menu-container{
        background-color: dimgray;
        padding:3px;
    }

    .top-menu {
        /*margin-top: 25px;*/
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        height: 40px;
    }

     .top-menu .btn {
        padding-left: 10px;

    }

        input.searchinput {
        height: 40px;

        margin: 0px;
    }

    input.btn-search {
        height: 40px;
        margin: 0px;

    }

     .btn {

        color: white;
        border: 1px solid black;
        padding: 10px 0px 10px 0px;

        display: inline-block;
        text-align: center;
        box-shadow: 3px 3px 2px grey;

    }

    .edit-btn {
        width: 100%;
        /*display: inline-block;*/
    }

    .delete-btn {

        width: 90%;
        /*display: inline-block;*/

    }

    .pdf-btn {
        width: 100%;
        /*display: inline-block;*/

    }

    .grey {
        background-color: grey;
    }

    .green {
        background-color: #659B66;
    }

    .red {
        background-color: red;
    }

    .orange {
        background-color: #FF6A2B;
    }

    .yellow {
        background-color: #F5D76E;
        color: black;
    }

    .blue {
        background-color: #23628C;
    }

    .navy {
        background-color: navy;
        color: white;
    }

    .legend {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        background-color: white;
        padding: 10px;
        border: black solid medium;
        margin: 0 15px 15px 0px;
        box-shadow: 3px 3px 2px grey;

    }

    .box-title {
        padding: auto;
        color: black;
        font-weight: bold;
    }

    .box {

        height: 10px;
        width: 10px;
        color: white;
        border: 1px solid black;

    }
        .nav-btn {
        height: auto;
        margin-right: 5px;
        padding-right: 10px;

    }

        .nav-btn:hover{
            background-color;
        }


    .link-btn {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 3px 2px grey;

    }

  .brick.small {
    width: 140px;
    height: 80px;
      margin:3px;

  }

  .brick.large {
    width: 300px;
    height: 300px;
  }

      .service {
        background-color: #990202;
        color: white;
    }

    .service-completed {
        background-color: #4b0101;
        color: white;
    }

    .lead {
        background-color: #97EC7D;
        color: black;
    }

    .lead-completed {
        background-color: #014b01;
        color: white;
    }

    .inspection {
        background-color: #191970;
        color: white;
    }

    .invoice {
        background-color: green;
        color: white;

    }

    .job {
        background-color: lawngreen;
        color: black;

    }






    .inspection-completed {
        background-color: #121254;
        color: white;
    }

    #map{
        height:800px;
          grid-area: 1 / 1 / span 2 / span 2;

    }
    .mini-nav{
        display: inline-flex;
    }

    .mini-nav a{
        margin:10px;

    }
    .mini-nav .btn{
        padding:5px;
    }

    .ticket-info{
        grid-area: 2 / 1 / span 1 / span 2;

    }


    #id_section-0-guarantee{
        width:75%;
    }

    #id_section-0-heading{
        width:75%;
    }

