@media print {

    header, nav, footer, .top-menu, .btn {
        display: none;
    }

    .column {
        float: left;
        width: 33%;

    }

    .title {
        column-span: all;
    }

    th {
        white-space: nowrap;
    }

}

@media screen {
   .top-menu {
        /*margin-top: 25px;*/
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }


    .content-container{
        display: flex;
        justify-content: left;
        margin-left:15%;
        align-items: flex-start;
    }

    .jobsite-content{
        body > div.content-container > table:nth-child(3) > tbody > tr:nth-child(2) > th > p > a

    }

    .job-item{
        width:100%;

    }

    .ticket-content {

    }
    .ticket-item{
        width:100%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }




    .btn {

        color: white;
        border: 1px solid black;
        padding: 10px;
        display: inline-block;
        text-align: center;

    }




    .grey {
        background-color: grey;
    }

    .green {
        background-color: #659B66;
    }

    .red {
        background-color: #DD4A30;
    }

    .orange {
        background-color: #FF6A2B;
    }

    .yellow {
        background-color: #E1ED63;
        color: black;
    }

    .blue {
        background-color: #23628C;
    }

    .pink {
        background-color: deeppink;
    }

    table {



    }

    th, td {
        border-bottom: 1px solid #ddd;
    }

    /*.linkbox{*/
        /*float:right;*/
        /*width:20%;*/
        /*position:fixed;*/

    /*}*/

}