@media print {

    header, nav, footer, .top-menu, .btn {
        display: none;
    }

    .column {
        float: left;
        width: 33%;

    }

    .title {
        column-span: all;
    }

    th {
        white-space: nowrap;
    }

}

@media screen {
    body{
        background-color: dimgray;
    }
    .index-container{
        display:flex;
        flex-wrap: nowrap;

        }

    .content-container{
        display: flex;
        margin-left:50px;
        margin-right:50px;
        background-color: white;
        height:100%;
    }

   .top-menu {
        /*margin-top: 25px;*/
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }


    .content-container{
        display: flex;
        justify-content: left;
        align-items: flex-start;
    }



    .job-item{
        width:100%;

    }

    .ticket-content {

    }
    .ticket-item{
        width:100%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }




    .btn {

        color: white;
        border: 1px solid black;
        padding: 10px;
        display: inline-block;
        text-align: center;
        box-shadow: 3px 3px 2px grey;

    }


    .edit-btn{
        width:90%;
        /*display: inline-block;*/
    }
    .delete-btn{

        width:90%;
        /*display: inline-block;*/

    }
    .pdf-btn{
        width:100%;
    }

    .grey {
        background-color: grey;
    }

    .green {
        background-color: #659B66;
    }

    .red {
        background-color: #DD4A30;
    }

    .orange {
        background-color: #FF6A2B;
    }

    .yellow {
        background-color: #F5D76E;
        color: black;
    }

    .blue {
        background-color: #23628C;
    }

    .navy {
        background-color: navy;
        color:white;
    }

    table {
        margin:2em;
        table-layout: fixed;
        width:400px;
    }

    th, td {
        /*border-bottom: 1px solid #ddd;*/

    }
    th{
        text-align: left;
    }

    .service{
        background-color: #990202;
        color:white;
    }

    .service-completed{
        background-color: #4b0101;
        color:white;
    }

    .lead{
        background-color: #029902
;
        color:white;
    }

    .lead-completed{
                background-color: #014b01;
        color:white;
    }



    .inspection{
        background-color:  #191970;
        color:white;
    }

    .inspection-completed{
        background-color:  #121254;
        color:white;
    }


    .open_tickets{
        /*display: flex;*/
        flex:10;
        order:1;
        /*flex-direction:column;*/
    }

    .latest_customers{
        /*display: flex;*/
        flex:1;
        order:2;
        /*flex-direction: column;*/

    }


    /*.linkbox{*/
        /*float:right;*/
        /*width:20%;*/
        /*position:fixed;*/

    /*}*/

}