<!-- DOCTYPE html-->
{% load static %}
<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'CRM/stylesheet.css' %}"></link>


    </head>
    <body>

            <div class="top-menu">
                <a href="{% url 'index' %}" class="btn blue">Home</a>
                <a href ="{% url 'customer_create' %}" class="btn green"> Add Customer</a>
            </div>
        <div class="row">
                {% block content %}
                {% endblock content %}



                {% block jobsite_content %}
                {% endblock jobsite_content %}



                {% block ticket_content %}
                {% endblock ticket_content %}

{#                {% block misc-links %}#}
{#                    <div class="linkbox">#}
{#                      <a href="http://euramax-intl.dcatalog.com/r/Berger-BP-Catalog-2015/#page=1">Berger Brothers Catalog</a>#}
{#                    </div>#}
{#                {% endblock misc-links %}#}


        </div>
    </body>


</html>

<footer>


</footer>