<!-- DOCTYPE html-->
{% load static %}
<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
              <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


    </head>
    <body>

        {% block content %}
        <a href ="{% url 'customer_create' %}" class="btn waves-effect waves-light blue"><i class="material-icons">person_add</i> Add Customer</a>

        {% endblock content %}

        {% block jobsite_content %}
        {% endblock jobsite_content %}

        {% block ticket_content %}
        {% endblock ticket_content %}

    </body>


</html>

<footer>

  <!-- Compiled and minified CSS -->

  <!-- Compiled and minified JavaScript -->
</footer>