<!-- DOCTYPE html-->
{% load static %}
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/hot-sneaks/jquery-ui.min.css"></link>


    <script src="{% static "CRM/js/jquery.ui.timepicker.js" %}"></script>

    <link rel="stylesheet" href="{% static "CRM/js/jquery.ui.timepicker.css" %}"></link>

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'CRM/stylesheet.css' %}"></link>
    <script src="{% static '/js/calc.js' %}"></script>
    {% block addhead %}

    {% endblock addhead %}

</head>
<body>
<div class="top-menu-container">
    <div class="top-menu">
        <a href="{% url 'index' %}">
            <div class="btn blue nav-btn">Home</div>
        </a>
        <a href="{% url 'customer_create' %}">
            <div class="btn green nav-btn">Add Customer</div>
        </a>
        <a href="{% url 'calendar' %}">
            <div class="btn red nav-btn">Calendar</div>
        </a>

        <a href="{% url 'map' %}">
            <div class="btn yellow nav-btn">Map</div>
        </a>
        <div class="searchbox">
            <form action="/search" method="get" style="display: inline-block">
                <input name="q" type="text" class="searchinput" placeholder="Search"/>
                <input type="submit" class="btn-search"/>
            </form>

        </div>
        <div>
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}?next={{request.path}}">
                    <div class="btn nav-btn green">Login</div>
                </a>
            {% else %}
                <a href="{% url 'logout' %}?next={{request.path}}">
                    <div class="btn nav-btn green">Logout</div>
                </a>
            {% endif %}


        </div>

    </div>


        {% block alertbox %}
        {% endblock alertbox %}


</div>
<div class="content-container">
{% block left-sidebar %}
    <div class="left-sidebar">


        <div class="legend">
        <div class="box-title ">LEGEND</div>
        <div class="lead box "></div>
        <div class="legend-text">Estimate</div>

        <div class="service box"></div>
        <div class="legend-text">Service</div>

        <div class="inspection box"></div class="legend-text">
        <div>Inspection</div>

    </div>
        <div class="linkbox">
            <div class="box-title">LINKS</div>
            <a href="http://www.gmail.com">
                <div class="btn red link-btn">Gmail</div>
            </a>
            <a href="http://www.authorize.net">
                <div class="btn orange link-btn">Authorize</div>
            </a>
            <a href="https://explorer.pictometry.com/login.php">
                <div class="btn orange link-btn">Pictometry</div>
            </a>


        </div>

        <div cclass="internal_links">
            <div class="box-title">LINKS</div>
            <a href="http://www.gmail.com">
                <div class="btn red link-btn">Gmail</div>
            </a>
            <a href="http://www.authorize.net">
                <div class="btn orange link-btn">Authorize</div>
            </a></div>


    </div>
{% endblock left-sidebar %}
<div class="center-content">
    {% block main_content_tl %}
     <div class="main-content">

        </div>
    {% endblock main_content_tl %}

    {% block main_content_tr %}
        <div class="customer-content">


        </div>
    {% endblock main_content_tr%}

    {% block main_content_bl %}
        <div class="jobsite-content">
        </div>
    {% endblock main_content_bl %}

    {% block main_content_br %}
        <div class="ticket-content">
        </div>
    {% endblock main_content_br %}
</div>
{% block right_sidebar %}
        <div class="right-sidebar">
    </div>
    {% endblock right_sidebar %}
</div>
</body>


</html>

<footer>


</footer>