{% extends "CRM/base.html" %}
{% block addhead %}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
{% endblock addhead %}

{% block content %}
        <table>
        <tr>
                 <th class="title" colspan="2"><h1>Customer Information:</h1></th>
        </tr>
            <tr>

                <td><a href="{% url 'customer_update' customer.pk %}"  role="button"><div class="btn orange edit-btn">Edit</div></a></td>
                <td><a href="{% url 'customer_delete' customer.pk %}"
                       onclick="return confirm('Are you sure want to delete this Customer?');"
                       role="button"><div class="btn red delete-btn">Delete</div></a></td>
            </tr>
            <tr>
                <td>Source:</td>
                <td class="td-worktable">{{ customer.source }}</td>
            </tr>

            <tr>
                <td>Customer Name:</td>
                <td class="td-worktable"><a href="{% url 'customer_detail' customer.pk %}"><div class="btn yellow">{{ customer.fullName }}</div></a></td>
            </tr>
            <tr>
                <td>Billing Address:</td>
                <td class="td-worktable" rowspan="2">{{ customer.billStreet }}<br>{{ customer.billCity }},
                    {{ customer.billState }},{{ customer.billZip }}
                </td>

            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Phone 1:</td>
                <td class="td-worktable">{{ customer.phone1 }}</td>

            </tr>
            <tr>
                <td>Phone 2:</td>
                <td class="td-worktable">{{ customer.phone2 }}</td>
            </tr>
            <tr>

                <td>Email:</td>
                <td class="td-worktable">{{ customer.email }}</td>
            </tr>
        </table>
{% endblock content %}


{% block jobsite_content %}

<table>
<tr>
    <th class="title"><h2>Jobsites:</h2></th>
    <th><a href="{% url 'jobsite_create' cust=object.pk %}" ><div class="btn green">New Jobsite</div></a></th>
</tr>
<tr>
   <div class="jobsite-content">
    {% for jobsite in object.jobsite_set.all %}
    <tr>
        <td colspan="2">

            <a href="{% url 'jobsite_detail' cust=object.pk job=jobsite.pk %}"> <div class="job-item btn yellow">{{ jobsite.slug }}</div></a>

        </td>
    </tr>
    {% endfor %}
    </div>

</tr>
</table>
{% endblock jobsite_content %}


{% block ticket_content %}
{% endblock ticket_content %}