{% extends "CRM/base.html" %}
{% block addhead %}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
{% endblock addhead %}

{% block content %}
    <div class="column">
        <table>
            <tr>
                <th class="title"><h3>Customer Info:</h3></th>
                <th><a href="{% url 'customer_update' customer.pk %}" class="btn orange" role="button">Edit</a>
                <a href="{% url 'customer_delete' customer.pk %}"
                       onclick="return confirm('Are you sure want to delete this Customer?');" class="btn red"
                       role="button">Delete</a></th>
            </tr>
            <tr>
                <td>Source:</td>
                <td class="td-worktable">{{ customer.source }}</td>
            </tr>

            <tr>
                <td>Customer Name:</td>
                <td class="td-worktable">{{ customer.fullName }}</td>
            </tr>
            <tr>
                <td>Billing Address:</td>
                <td class="td-worktable" rowspan="2">{{ customer.billStreet }}<br>{{ customer.billCity }},
                    {{ customer.billState }},{{ customer.billZip }}
                </td>

            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Phone 1:</td>
                <td class="td-worktable">{{ customer.phone1 }}</td>

            </tr>
            <tr>
                <td>Phone 2:</td>
                <td class="td-worktable">{{ customer.phone2 }}</td>
            </tr>
            <tr>

                <td>Email:</td>
                <td class="td-worktable">{{ customer.email }}</td>
            </tr>
        </table>
    </div>
{% endblock content %}


{% block jobsite_content %}
<table>
<tr>
    <th class="title"><h2>Jobsites:</h2></th>
    <th><a href="{% url 'jobsite_create' cust=object.pk %}" class="btn green">New Jobsite</a></th>
</tr>
<tr>

    {% for jobsite in object.jobsite_set.all %}
    <th> <p>
            <a href="{% url 'jobsite_detail' cust=object.pk job=jobsite.pk %}" class="btn yellow">{{ jobsite.slug }}</a>
        </p>
        </th>
    {% endfor %}

</tr>
</table>
{% endblock jobsite_content %}


{% block ticket_content %}
{% endblock ticket_content %}