{% extends 'CRM/customer_detail.html' %}

{% block jobsite_content %}

<div class="row">
    <div class="col s2">
            <h3>Job Location:</h3>

    <a href="{% url 'jobsite_update' cust=jobsite.customer_id.id job=jobsite.pk %}" class="btn-orange"
       role="button">Edit Jobsite</a>
    <a href="{% url 'jobsite_delete' cust=object.customer_id.id job=object.pk %}"
           onclick="return confirm('Are you sure want to delete this Jobsite?');"
           class="btn-red" role="button">Delete Jobsite</a></br>
    <table>
        <tr>

            <td colspan="3">
                {{ jobsite.jobStreet }}
            </td>

        </tr>
        <tr>
            <td>
                {{ jobsite.jobCity }}
            </td>

            <td>{{ jobsite.jobState }},</td>

            <td>{{ jobsite.jobZip }}</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Stories:</td>
            <td>{{ jobsite.stories }}</td>
            <td>Access:</td>
            <td>{{ jobsite.access }}</td>
        </tr>
        <tr>
            <td>Property Notes:</td>
            <td>
                {{ jobsite.notes }}
            </td>
        </tr>
    </table>
    <br>
    </div>
{% endblock jobsite_content %}

{% block ticket_content %}
    <div class="row">
    <div class="col s2">

    <h2>Tickets:</h2>
        <a href="{% url 'ticket_create' cust=customer.id job=jobsite.id %}" class="btn-green">Create a Ticket</a>

    <h4>Existing Tickets</h4>
    {% for ticket in object.ticket_set.all %}
        <p>
            <a href="{% url 'ticket_detail' cust=customer.pk job=jobsite.pk ticket=ticket.pk%}" class="btn-yellow">{{ ticket.created }}{{ ticket.problem }} </a>
        </p>
    {% endfor %}
</div>
    </div>
{% endblock ticket_content %}