{% extends 'CRM/jobsite_detail.html' %}

{% block ticket_content %}

    <div class="row">
    <div class="card col s8 z-depth-5">
    <h3>Ticket Information:</h3>

    <a href="{% url 'ticket_update' cust=ticket.customer_id.id job=ticket.jobsite_id_id ticket=ticket.id %}"
       class="btn btn-primary"
       role="button">Edit Ticket</a>
    <a href="{% url 'ticket_delete' cust=ticket.customer_id.id job=ticket.jobsite_id_id ticket=ticket.pk %}"
       onclick="return confirm('Are you sure want to delete this Jobsite?');"
       class="btn btn-danger" role="button">Delete Ticket</a></br>

    <table>
        <tr>
            <td>Modified:</td>
            <td>{{ object.modified }}</td>
        </tr>
        <tr>
            <td>Call Type:</td>
            <td>{{ object.call_type }}</td>
        </tr>
        <tr>
            <td>Problem:</td>
            <td>{{ object.problem }}</td>
        </tr>
        <tr>
            <td>Notes:</td>
            <td>{{ object.notes }}</td>
        </tr>

        <tr>
            <td>Complete:</td>
            <td>{{ object.completed }}</td>
        </tr>

    </table>
</div>
</div>
{% endblock ticket_content %}