{% extends 'CRM/jobsite_detail.html' %}

{% block ticket_content %}



        <table>
            <tr>
                <th class="title">
                    <h3>Ticket Information:</h3>
                </th>
                <th>
                    <a href="{% url 'ticket_update' cust=ticket.customer_id.id job=ticket.jobsite_id_id ticket=ticket.id %}"
                       role="button"><div class="btn orange edit-btn">Edit</div></a>
                    <a href="{% url 'ticket_delete' cust=ticket.customer_id.id job=ticket.jobsite_id_id ticket=ticket.pk %}"
                       onclick="return confirm('Are you sure want to delete this Jobsite?');"
                       role="button"><div  class="btn red delete-btn">Delete</div></a></th>
            </tr>

            <tr>
                <td>Modified:</td>
                <td>{{ object.modified }}</td>
            </tr>
            <tr>
                <td>Call Type:</td>

                {% if object.call_type == "Service" %}
                <td class="service">{{ object.call_type }}</td>
                 {% elif object.call_type == "Estimate" %}
                    <td class="lead">{{ object.call_type }}</td>
                           {% elif object.call_type == "Inspection" %}
                    <td class="inspection">{{ object.call_type }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>Problem:</td>
                <td>{{ object.problem }}</td>
            </tr>
            <tr>
                <td>Notes:</td>
                <td>{{ object.notes }}</td>
            </tr>

            <tr>
                <td>Complete:</td>
                <td>{{ object.completed }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'generate-pdf' cust=customer.pk job=jobsite.pk ticket=ticket.pk %}"><div  class="btn navy pdf-btn">Export PDF</div></a>
                </td>
            </tr>
        </table>

{% endblock ticket_content %}