{% extends 'CRM/base.html' %}
{% block addhead %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.12/tinymce.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.12/plugins/textcolor/plugin.js"></script>


<script>

  tinymce.init({
    selector: '.textarea',
      plugins: 'paste template spellchecker textcolor',
          theme: "modern",

      toolbar: 'template forecolor',
      browser_spellcheck: true,



  templates: [
    {title: 'New Flat Roof',
        description: 'New Flat Roof White Granulated',
        content: 'Furnish and install complete new white granulated modified bitumen roof system to entire roof and parapet wall areas.<br>' +
        'Seal all flashings on entire roof using 4 inch membrane fabric and roofing cement.<br>' +
        'Furnish and install new white aluminum capping to perimeter edge of roof.<br>' +
        'Remove all job-connected debris from property.<br>'+
        '<strong><u>10 year guarantee on labor and materials. In order to maintain guarantee status, roof must be resealed/coated every 4 years by Reiter roofing at additional cost to owner as preventive maintenance. If roof is properly maintained guarantee is extended to 15 years.</u></strong>'



    },

    {title: 'Flash/Coat',
     description: 'Flash and Coat a Roof',
     content: 'Clean all debris from roof.<br> ' +
     'Clean drain on roof of all debris.<br> ' +
     'Seal all necessary flashings using roof cement and membrane fabric.<br>' +
     'Seal all penetrations in roof, including vent stacks, A/C Line sets, and chimneys. Seal all metal edge capping.<br>' +
     'Furnish and install a thick layer of reflective fibered aluminum silver coating to entire roof surface.<br>'
    }
  ]
  });
  </script>

{% endblock addhead %}
{% block main_content_tl %}

    <div class="row">
        <div class="card col s4 m4 ">
            <h1>Create Estimate:</h1>


            <form action="" method="post" id="form1">{% csrf_token %}
                {{ sectionform.management_form }}
                {{ form.management_form }}

                {{ form.as_p }}
                {{ form.media }}


                {% for form in sectionform.forms %}

                    <div class="table" id ='table'>



                        <table class="no_error">
                            {{ form.as_p }}
                            {{ form.media }}
                        </table>
                    </div>
                {% endfor %}

                <input type="submit" value="Save"/>

            </form>
        </div>
    </div>





{% endblock main_content_tl %}

<script>


function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.text());
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    tinymce.activeEditor.settings.paste_block_drop

}
</script>
