{% extends 'CRM/base.html' %}
{% block addhead %}

<script>

  tinymce.init({
    selector: '.textarea'

  });
  </script>

{% endblock addhead %}
{% block content %}


    <div class="row">
        <div class="card col s4 m4 ">
            <h1>Update Estimate:</h1>


            <form action="" method="post">{% csrf_token %}
                {{ sectionform.management_form }}
                {{ form.management_form }}

                {{ form.as_p }}
                {{ form.media }}


                {% for form in sectionform.forms %}

                    <div class="table">
                        <table class="no_error">
                            {{ form.as_p }}
                            {{ form.media }}
                        </table>
                    </div>
                {% endfor %}

                <input type="submit" value="Save"/>

            </form>
        </div>
     </div>


{% endblock content %}